:root {
    --heading-text-color: white;
    --border: 1px solid rgb(0 0 0 / 0.2);
    --text-align: center;
}

body {
    text-align: var(--text-align);
    background: linear-gradient(to bottom, darkblue, white);
}

/** {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}*/

nav {
    padding: 10px;
    display: flex;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
}

h1 {
    color: var(--heading-text-color);
}

main img {
    width: 150px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 50px white;
    float: right;
}

p {
    color: var(--heading-text-color);
    padding: 0;
}

main {
    max-width: 840px;
}

ul h2, a {
    color: darkblue;
    text-decoration: none;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: var(--border);
    padding: 1rem;
    background-color: darkblue;
    color: var(--heading-text-color);
    text-align: var(--text-align);
    position: relative;
}

aside h2 {
    position: absolute;
    top: 10px;
    left: 150px;
}

aside p {
    color: darkblue;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: var(--border);
    text-align: var(--text-align);
}

footer p {
    color: darkblue;
}

/*Class Selectors*/

.box {
    margin: 1rem;
    border: 0;
    padding: 1rem;
    background-color: #eee;
    color: var(--heading-text-color);
}